In [2]:
import pandas as pd

In [3]:
csv_file_path = './urls_unique.csv'
url_df = pd.read_csv(csv_file_path, encoding='utf-8', engine='python')
url_df = url_df.reindex(columns=url_df.columns.tolist() + ["redirect_url"])

In [4]:
url_df

                            url  redirect_url
0       https://t.co/usV6oXrCJs           NaN
1       https://t.co/wqOohMpR9u           NaN
2       https://t.co/ygEhGuox6r           NaN
3       https://t.co/iivtL4koB2           NaN
4       https://t.co/QG3yubpVqH           NaN
...                         ...           ...
133526  https://t.co/WSUJoRfQQ5           NaN
133527  https://t.co/zsyWzu6JRE           NaN
133528  https://t.co/xpt6W9MrVq           NaN
133529  https://t.co/SgaqQrQkbg           NaN
133530  https://t.co/adW8rvSwCD           NaN

[133531 rows x 2 columns]

nan